.navContainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 2rem;
    flex: 1;
    padding: 0.5%;
}

.logoBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1%;
    width: 70px;
}

.logoBox img{
    width: 100%;
}

.links{
    cursor: pointer;
    flex: 1;
    justify-content: right;
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: black;
}